.show_parts button{
	margin-top: 150px;
	margin-left: 10%;
			width:180px;
		height: 60px;
		background-color: blue;
		border-radius: 15px;
		color:white;
		font-size: 18px;
		border:none;	
}

.show_parts{
	width: 100%;
	height: 75vh;
	background-color: white;
	border: 2px solid red;

}

.show_btn button{
		display: none;

				width:140px;
		height: 45px;
		background-color: blue;
		border-radius: 15px;
		color:white;
		font-size: 18px;
		border:none;
		margin-left: 60%;
}

.select_ch{
	overflow: scroll;
}